@import 'mixins';

* {
  box-sizing: border-box;
}

:global(#parse-error) {
  display: none;
  white-space: pre-wrap;
  font-family: monospace;
  z-index: 2;
  background-color: white;
  color: red;
  position: relative;
  &.error {
    display: block;
  }
}

:global(#src) {
  position: absolute;
  top: 0;
  left: 0;
  width: ~'calc(100% - 83px)';
  min-height: 100%;
  max-width: 100%;
  border: 0;
  padding: 10px;
  font-size: 13px;
  white-space: pre-wrap;
  font-family: monospace;
  &.hiding {
    display: none;
  }
}

:global(#about) {
  .form();
}

:global(#options) {
  .form();
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  &.hiding {
    background-color: #eee;
    :global(#parse-error) {
      display: none;
    }
  }
}
