* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body.hiding,
html.hiding {
  background-color: #eee;
  display: block;
}

body.hiding :global(#parse-error),
html.hiding :global(#parse-error) {
  display: none;
}

.hiding {
  display: none;
}

.showing {
  display: block;
}

.error {
  background-color: lightcoral !important;
}

.error:hover {
  background-color: coral !important;
}

.success {
  background-color: lightgreen !important;
}

.success:hover {
  background-color: greenyellow !important;
}

:global(#parse-error) {
  display: none;
  white-space: pre-wrap;
  font-family: monospace;
  z-index: 2;
  background-color: white;
  color: red;
  position: relative;
}

:global(#parse-error).error {
  display: block;
  background-color: white !important;
}

:global(#src) {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 83px);
  min-height: 100%;
  max-width: 100%;
  border: 0;
  padding: 10px;
  font-size: 13px;
  white-space: pre-wrap;
  font-family: monospace;
}

.form {
  position: fixed;
  display: none;
  top: 10vw;
  left: 25vw;
  width: 50vw;
  height: 25vw;
  z-index: 9;
  background-color: white;
}

.form.showing {
  display: block;
}

.close-button {
  position: absolute !important;
  display: none;
  top: 5px;
}

.button {
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  right: 10px;
  width: 65px;
  height: 30px;
  z-index: 5;
}

.button:hover {
  background-color: darkgray;
}

.button.showing {
  display: block;
}

:global(#parse) {
  top: 5px;
}

:global(#clear) {
  top: 40px;
}

:global(#options-button) {
  z-index: 10;
  top: 75px;
}

:global(#about-button) {
  z-index: 10;
  bottom: 5px;
}
