:root .dark-mode {
  --bg-success: lightgreen;
  --bg-success-hover: greenyellow;
  --fg-error: red;
  --bg-error: lightcoral;
  --bg-error-hover: coral;
  --bg: #111;
  --fg: #eee;
  --button-border: gray;
  --button-bg-hover: lightgray;
  --button-bg: darkgray;
  --form-bg: #ccc;
}

:root .light-mode {
  --bg-success: lightgreen;
  --bg-success-hover: greenyellow;
  --bg-error: lightcoral;
  --bg-error-hover: coral;
  --bg: #eee;
  --fg: #000;
  --button-border: gray;
  --button-bg: lightgray;
  --button-bg-hover: darkgray;
  --form-bg: #ccc;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: var(--bg);
  color: var(--fg);
}

body.hiding,
html.hiding {
  background: var(--bg);
  color: var(--foreground-color);
  display: block;
}

body.hiding :global(#parse-error),
html.hiding :global(#parse-error) {
  display: none;
}

.hiding {
  display: none;
}

.showing {
  display: block;
}

.error {
  background: var(--bg-error) !important;
}

.error:hover {
  background: var(--bg-error-hover) !important;
}

.success {
  background: var(--bg-success) !important;
}

.success:hover {
  background: var(--bg-success-hover) !important;
}

:global(#parse-error) {
  display: none;
  white-space: pre-wrap;
  font-family: monospace;
  z-index: 2;
  background: transparent !important;
  color: var(--fg-error);
  position: relative;
}

:global(#parse-error).error {
  display: block;
}

:global(#src) {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 83px);
  min-height: 100%;
  max-width: 100%;
  border: 0;
  padding: 10px;
  font-size: 13px;
  white-space: pre-wrap;
  font-family: monospace;
}

.form {
  position: fixed;
  display: none;
  top: 10vw;
  left: 25vw;
  width: 50vw;
  height: 25vw;
  padding: 20px;
  z-index: 9;
  background: var(--form-bg);
}

.form.showing {
  display: block;
}

.close-button {
  position: absolute !important;
  display: none;
  top: 5px;
}

.button {
  background: var(--button-bg);
  border: 1px solid var(--button-border);
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  right: 10px;
  width: 65px;
  height: 30px;
  z-index: 5;
}

.button:hover {
  background: var(--button-bg-hover);
}

.button.showing {
  display: block;
}

:global(#parse) {
  top: 5px;
}

:global(#clear) {
  top: 40px;
}

:global(#options-button) {
  z-index: 10;
  top: 75px;
}

:global(#about-button) {
  z-index: 10;
  bottom: 5px;
}
